.projects-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-card {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .project-tech-container {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    .tech-wrapper {
      display: flex;
      column-gap: 3px;
    }
  }
  &:hover {
    color: #fafafa;
    background: -moz-linear-gradient(
      -45deg,
      #fff 0%,
      #1e539e 33%,
      #fa448d 66%,
      #990ad180 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      -45deg,
      #fff 0%,
      #1e539e 33%,
      #fa448d 66%,
      #990ad180 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      135deg,
      #fff 0%,
      #1e539e 33%,
      #fa448d 66%,
      #990ad180 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: 400% 400%;
    background-repeat: no-repeat;
    background-position: 100% 100%;

    transform: translate3D(0, -1px, 0); /* move up slightly and zoom in */
    box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
      1px 6px 12px rgba(39, 44, 49, 0.04);
    transition: all 0.1s ease; /* zoom in */

    .project-name {
      color: #fafafa;
    }

    .project-description {
      color: #ddd;
    }

    .project-tech-container {
      display: flex;
      justify-content: center;
    }
    .star-icon,
    .fork-icon,
    .url-icons {
      fill: #fafafa;

      &:hover {
        fill: #7f04af;
      }
    }
  }
}

.project-basic-details {
  margin-bottom: 20px;

  .project-name {
    font-size: 20px;
    color: #444;
    padding-bottom: 5px;
  }

  .project-description {
    font-size: 14px;
    color: #aaa;
  }
}

.project-advanced-details {
  display: flex;
  justify-content: space-between;
}
