.vertical-timeline-element-content {
    color: #444;
  }
  
  .vertical-timeline::before {
    background: #ddd;
  }
  
  .vertical-timeline-element-date {
    color: #333;
  }
  
  .vertical-timeline-element--work .vertical-timeline-element-icon {
    background-color: #0e7fdb;
    fill: white;
  }
  
  .vertical-timeline-element--work .vertical-timeline-element-content {
    border-top: 3px solid #0e7fdb;
  }
  
  .vertical-timeline-element--work .vertical-timeline-element-content-arrow {
    border-right: 7px solid #0e7fdb;
  }
  
  .vertical-timeline-element--special .vertical-timeline-element-icon {
    background-color: #c9ac09;
    fill: white;
  }
  
  .vertical-timeline-element--special .vertical-timeline-element-content {
    border-top: 3px solid #c9ac09;
  }
  
  .vertical-timeline-element--special .vertical-timeline-element-content-arrow {
    border-right: 7px solid #c9ac09;
  }
  
  .vertical-timeline-element--education .vertical-timeline-element-icon {
    background-color: #3eaf7c;
    fill: white;
  }
  
  .vertical-timeline-element--education .vertical-timeline-element-content {
    border-top: 3px solid #3eaf7c;
  }
  
  .vertical-timeline-element--education .vertical-timeline-element-content-arrow {
    border-right: 7px solid #3eaf7c;
  }